@import "tailwindcss";


:root{
  --primary:#8B5CF6;
  --secondary:#A855F7;
  --bg:#050505;
}

@keyframes floating {

  0%{
    transform: translateY(0px);
  }

  50%{
    transform: translateY(-20px);
  }

  100%{
    transform: translateY(0px);
  }

}

.floating-animation{
  animation: floating 6s ease-in-out infinite;
}